@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Fira+Code&display=swap");

body {
    background-color:#ffffffcf;
    /* background-color: #e3e3e3;
    background-image: url(img/topography.svg); */
    color: #101010;
    font-family: "Fira Code", sans-serif;
    padding: 0;
    margin: 50px 30px;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    /* limit the content to within a 768px max wdith */
    max-width: 768px;
    margin: 0 auto;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    flex-shrink: 1;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-evenly;
}

li {
    float: left;
    margin: 10px 16px;
}

li:hover {
    transform: scale(1.05);
}

li > img {
    vertical-align: middle;
}

li > a {
    font-size: 10px;
}

p {
    text-align: center;
    white-space: pre-line;
}

.section-header {
    margin-top: 0;
    margin-bottom: 25px;
    font-size: 14px;
}

#profile > h2 {
    font-size: 18px;
    margin-bottom: 0;
    /* margin-top: 0; */
}

#profile-picture {
    float: left;
    margin-left: 5px;
    margin-right: 5%;
    margin-bottom: 10px;
    border-radius: 50%;
}

#profile-text {
    font-size: 11px;
    margin: 0px 0px;
    padding-top: 0px;
    text-align: justify;
    max-width: 740px;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(12, [col-start] 1fr);
    gap: 25px;
    margin-right: 10px;
    margin-left: 10px;
}

.grid-member {
    backdrop-filter: blur(2px);
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.2);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all 0.3s ease-in-out;
    max-width: 600px;
    grid-column: col-start / span 12;
    flex-direction: column;
    display: flex;
    justify-content: space-between;
}

#grid-two {
    padding-bottom:0;
}

@media (min-width: 768px) {
    #grid-one {
        grid-column: col-start / span 6;
    }
    #grid-two {
        grid-column: col-start 7 / span 6;
    }
}

.grid-member > h4 {
    font-size: 12px;
    text-align: center;
    margin-bottom: 0px;
}

.grid-member > p {
    font-size: 11px;
    text-align: center;
    white-space: pre-line;
}

.grid-member > ul {
    font-size: 10px;
    /* make the items centered */
    display: flex;
    justify-content: center;
}
