@charset "utf-8";
@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");

body {
    background-color:#eae8e8;
    /* background-color: #fafafa; */
    background-image: url(img/topography.svg);
    color: #101010;
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
}

section {
    display: grid;
    place-items: center;
    align-content: center;
    min-height: 100vh;
    /* backdrop-filter: blur(10px); */
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin: 10px 0;
}

li > a {
    font-size: 16;
}

p {
    text-align: center;
    white-space: pre-line;
}

/* .container {
    backdrop-filter: blur(5px);
} */

.hidden {
    opacity: 0;
    filter: blur(5px);
    transform: translateX(-100%);
    transition: all 1s;
}

.show {
    opacity: 1;
    filter: blur(0);
    transform: translateX(0);
}

@media(prefers-reduced-motion) {
    .hidden {
        transition: none;
    }
}

.contain:nth-child(2) {
    transition-delay: 50ms;
}

.contain:nth-child(3) {
    transition-delay: 100ms;
}

.contain:nth-child(4) {
    transition-delay: 150ms;
}

.contain:nth-child(5) {
    transition-delay: 200ms;
}